@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;500;600&family=Pathway+Gothic+One&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  @apply bg-[#f5f5f5]
}

/* Styling to change the appearance of the scroll bars */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(11, 160, 11);
  border-radius: 5px;
}

::-webkit-scrollbar-track-piece {
  background: transparent;
}

.rotate {
  transform: rotate(90deg);
}

.trans {
  transition: all ease .4s;
}


.filtered {
  filter: blur(5px);
}

.rxbg{
  background-image: url(./assets/rxbg.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: repeat;
  
}
